.text-gradient-hover {
  transition: background-image 0.7s ease;
  /* Явно указываем, что переход применяется к background-size */
}

.group:hover .text-gradient-hover {
  background-image: linear-gradient(to right, #f19945, #da0048);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: background-image 0.7s ease;
}

.group {
  transition:
    background-color 0.7s ease-linear,
    color 0.7s ease-linear;
}

.scale {
  clip-path: polygon(0% 0%, 100% 0, 100% 80%, 85% 100%, 0% 100%);

  display: inline-block;
  overflow: hidden;
}

.background__hover {
  clip-path: polygon(0% 0%, 100% 0, 100% 75%, 82% 100%, 0% 100%);
  background-size: 100%;
  transition: background-size 0.7s ease;
}

.background__hover:hover {
  background-size: 110%;
}

// @media (min-width: 1280px) {
//   .background__slide:hover {
//     background: url('/main/backgroundSliderLong.svg') no-repeat;
//     background-size: 100% 100%; /* Масштабирует изображение по ширине и высоте слайда */
//     background-position: center;
//   }
//   .active-slide {
//     height: auto !important;
//   }
// }

.swiper {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0 0;
  z-index: 1;
  display: block;
}

.swiper-wrapper {
  height: max-content;
}

// .active-slide {
//   height: 600px !important;
//   position: relative;
//   width: fit-content !important;
// }

.swiper-button-prev,
.swiper-button-next {
  position: absolute;
  color: white;

  &:hover {
    background-image: linear-gradient(to right, #f19945, #da0048);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
  }
}

@media (min-width: 1280px) {
  .swiper-button-next,
  .swiper-rtl .swiper-button-prev {
    right: var(--swiper-navigation-sides-offset, -40px);
    left: auto;
  }

  .swiper-button-prev,
  .swiper-rtl .swiper-button-next {
    left: var(--swiper-navigation-sides-offset, -40px);
    right: auto;
  }
}

.swiper-button-prev.swiper-button-disabled,
.swiper-button-next.swiper-button-disabled {
  color: #3e4d59;
  cursor: auto;
  pointer-events: none;
}

@media (max-width: 768px) {
  .swiper-button-prev,
  .swiper-button-next {
    display: none;
  }

  .swiper-pagination {
    display: block !important;
  }
}

.swiper-pagination {
  display: none;
  position: absolute;
  text-align: center;
  transition: 300ms opacity;
  transform: translate3d(0, 0, 0);
  z-index: 10;
}

.swiper-pagination-bullet {
  width: 28px;
  height: 4px;
  display: inline-block;
  border-radius: 0;
  background: white;
  opacity: 0.4;
}

.swiper-pagination-bullet-active {
  opacity: 1;
  background: white;
}
